*,
*::after
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(100vh, 1fr) auto;
}
#app>*{
    grid-column: 1/-1;
}
.nav-item{
    margin-right: 2rem;
}
/* footer */
#copyright{
    background-color: white;
}
.testimonials{
    width: 100%;
}
/* about descripiton */

#profile-text{
display: flex;
justify-content: center;

/* background-color: white; */
}
.formlabel{
    width: 75%;
    margin: auto;
}
